[modules]
log_file
l2tp
auth_mschap_v2
radius
ippool
shaper

[core]
log-error=${LOG_DIR_ROOT}/gateway/accel-ppp-core.log
thread-count=2

[log]
log-file=${LOG_DIR_ROOT}/gateway/accel-ppp.log
copy=1
color=0
level=5

[l2tp]
bind=0.0.0.0
port=${VPN_L2TP_PORT}
verbose=1
hello-interval=60
timeout=60
use-ephemeral-ports=0
avp_permissive=1

[ppp]
verbose=1
min-mtu=1280
mtu=${VPN_MTU}
mru=${VPN_MTU}
ipv4=require
mppe=prefer
auth=mschap-v2

[ip-pool]
gw-ip-address=${VPN_GATEWAY_IP}
tunnel-ipv4-pool=${VPN_NETWORK}/${VPN_NETMASK}

[radius]
dictionary=/usr/share/accel-ppp/radius/dictionary
nas-identifier=${VPN_NAS_IDENTIFIER}
nas-ip-address=${VPN_NAS_IP_ADDRESS}
server=${VPN_RADIUS_HOST},${RADIUS_SHARED_SECRET},auth-port=${VPN_RADIUS_AUTH_PORT},acct-port=${VPN_RADIUS_ACCT_PORT},req-limit=0
timeout=3
max-try=3
acct-interim-interval=60
verbose=1

[dns]
dns1=${VPN_DNS_1}
dns2=${VPN_DNS_2}

[shaper]
vendor=custom
attr=Filter-Id
up-limiter=WISPr-Bandwidth-Max-Up
down-limiter=WISPr-Bandwidth-Max-Down
