config setup
    uniqueids=no
    charondebug="cfg 1, ike 1, net 1"

conn wormhole-l2tp
    keyexchange=ikev1
    authby=psk
    type=transport
    left=%any
    leftprotoport=17/1701
    right=%any
    rightprotoport=17/%any
    ike=aes256-sha1-modp1024,aes128-sha1-modp1024
    esp=aes256-sha1,aes128-sha1
    dpdaction=clear
    auto=add
