auth = "radius[config=/etc/radiusclient/radiusclient.conf,groupconfig=false]"
acct = "radius[config=/etc/radiusclient/radiusclient.conf]"

tcp-port = __OCSERV_TCP_PORT__
udp-port = __OCSERV_UDP_PORT__
socket-file = /var/run/occtl.socket
use-occtl = true

run-as-user = nobody
run-as-group = daemon
device = vpns
pid-file = /var/run/ocserv.pid

server-cert = /srv/pki/server/server-cert.pem
server-key = /srv/pki/server/server-key.pem

isolate-workers = false
max-clients = __OCSERV_MAX_CLIENTS__
max-same-clients = __OCSERV_MAX_SAME_CLIENTS__
keepalive = 32400
dpd = 90
mobile-dpd = 1800
switch-to-tcp-timeout = 25
try-mtu-discovery = true

auth-timeout = 240
idle-timeout = __OCSERV_IDLE_TIMEOUT__
mobile-idle-timeout = __OCSERV_MOBILE_IDLE_TIMEOUT__
session-timeout = __OCSERV_SESSION_TIMEOUT__
stats-report-time = __OCSERV_STATS_REPORT_TIME__

ipv4-network = __OCSERV_NETWORK__
ipv4-netmask = __OCSERV_NETMASK__
tunnel-all-dns = true
dns = __OCSERV_DNS_1__
dns = __OCSERV_DNS_2__
route = default

default-domain = __OCSERV_DEFAULT_DOMAIN__
config-per-user = /etc/ocserv/config-per-user

cisco-client-compat = true
compression = false
deny-roaming = false
